@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Righteous");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background: #777799;
  /* For browsers that don't support gradient */
  background: linear-gradient(to top left, #777799, #dedeff);
  background: -webkit-linear-gradient(bottom right, #777799, #dedeff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, #777799, #dedeff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, #777799, #dedeff);
  /* For Firefox 3.6 to 15 */
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

h2 {
  text-align: center;
  margin-top: 40px;
  font-family: "Righteous", cursive; }

h3 {
  color: black;
  margin: 0;
  margin-top: .75em;
  font-family: "Righteous", cursive; }

p {
  text-align: center;
  margin-top: .75em;
  font-size: 0.8em; }

@media only screen and (min-width: 768px) {
  p {
    font-size: 1em; } }
a {
  text-decoration: none; }

a:hover, a h3:hover {
  color: #fff; }

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(153, 204, 255, 0), rgba(153, 204, 255, 0.75), rgba(153, 204, 255, 0)); }

#aboutme {
  width: 100%;
  margin: auto; }
  #aboutme p {
    width: 80%;
    margin: auto; }

.jumbo {
  background-image: url("../images/computer_screen2_dark.png");
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  display: -webkit-flex;
  display: flex; }

@media only screen and (min-width: 768px) {
  .jumbo {
    height: 500px; } }
#headline {
  margin: 0 auto;
  align-self: center;
  color: #fff; }

@media only screen and (min-width: 768px) {
  #headline {
    font-size: 24px; } }
nav {
  display: -webkit-flex;
  display: flex;
  height: 75px;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0); }

@media only screen and (min-width: 768px) {
  nav {
    height: 100px; } }
.container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  padding: 0 20px;
  margin: auto;
  height: 100%;
  align-items: center;
  color: #fff; }

@media only screen and (min-width: 1024px) {
  .container {
    width: 75%; } }
#brand {
  display: -webkit-flex;
  display: flex; }

#tagline {
  flex-direction: column;
  padding-left: 10px;
  font-size: 10px; }

@media only screen and (min-width: 768px) {
  #tagline {
    font-size: 12px; } }
#logo {
  font-family: 'Righteous', cursive;
  font-size: 20px;
  border: 5px solid #fff;
  border-radius: 50%;
  padding: 2px;
  color: #fff;
  -webkit-transition: box-shadow 1s ease;
  -moz-transition: box-shadow 1s ease;
  -o-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease; }

#logo:hover {
  box-shadow: 0px 0px 20px #ddd; }

@media only screen and (min-width: 768px) {
  #logo {
    font-size: 24px; } }
#linksContainer {
  margin-left: auto;
  margin-right: 0px;
  color: #fff; }

.navLink {
  display: inline; }

.navLink img {
  width: 15px;
  height: 15px;
  margin: 10px; }

@media only screen and (min-width: 768px) {
  .navLink img {
    width: 30px;
    height: 30px;
    margin: 10px; } }
.project {
  width: 90%;
  margin: auto;
  margin-bottom: 35px;
  padding-top: 25px;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

.projectImg, .projectText {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin: auto; }
  .projectImg img, .projectText img {
    width: 80%;
    margin: auto; }

.projectText {
  flex-direction: column;
  width: 80%; }
  .projectText h2 {
    color: black; }

@media only screen and (min-width: 768px) {
  .project {
    -ms-flex-direction: row;
    flex-direction: row; }

  .projectImg, .projectText {
    width: 80%;
    display: -webkit-flex;
    display: flex;
    align-items: center; } }
.skillsContainer {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.skill {
  flex-shrink: 0.8;
  font-size: 0.7em;
  margin: 5px 5px;
  padding: 5px;
  background-color: #99ccff;
  color: black;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 6px black;
  -moz-box-shadow: 2px 2px 6px black;
  box-shadow: 2px 2px 6px black; }

@media only screen and (min-width: 768px) {
  .skill {
    font-size: 0.85em; } }
