.aboutme {
    width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: $secondary;
    p {
        width: 70%;
        margin: auto;
    }
}
@media only screen and (min-width: 1024px) {
    #aboutme p {
        width: 60%;
    }
}
span.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}