.my-projects {
    background-color: #555;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    .projLink {
        border: 3px solid white;
        margin: 10px 0 0 0;
        height: 25px;
        width: 150px;
        border-radius: 25px;
        line-height: 25px;
        font-size: 0.85em;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        @include transition(all 0.5s ease);
    }
    .projLink:hover {
        border: 3px solid black;
        background-color: $secondary;
        color: black;
        width: 200px;
    }
}

.project {
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
    padding-top: 25px;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.projectImg, .projectText {
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    margin: auto;

    img {
        width: 80%;
        margin: auto;
    }

}
.projectText {
    flex-direction: column;
    width: 80%;
    h3 {
        color: white;
    }
}
@media only screen and (min-width: 768px) {
    .project {
        -ms-flex-direction: row;
        flex-direction: row;
        width: 70%;
    }
    .projectImg, .projectText {
        width: 80%;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        p {
            width: 80%;
        }
    }
}